.eventHeader-flex {
  width: 60%;
  margin: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  height: 70px;
  font-size: large;
}
@media only screen and (max-width: 1000px) {
  .eventHeader-flex {
    width: 90%;
  }
}
