.primaryButton {
  color: #ffffff;
  font-size: 16px;
  gap: 2px;
  padding: 0px 20px;
  border-radius: 5px;
  border: 2px solid var(--primaryColor);
  background: var(--primaryColor);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.primaryButton:hover {
  color: white;
  opacity: 0.5;
}

.primaryButtonDisabled{
  opacity: 0.5;
}