.primaryButton {
  color: #ffffff;
  font-size: 14px;

  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid var(--primaryColor);
  background: var(--primaryColor);
  margin: 0 5px;
}
.primaryButton:hover {
  color: white;
  opacity: 0.5;
}
