.primary-button {
  color: #ffffff;
  font-size: 14px;

  padding: 10px 20px;
  border-radius: 5px;
  border: 0px solid #3866a3;
  background: var(--primaryColor);
  margin: 0 2px;
}
.primary-button:hover {
  color: #ffffff;
  background: linear-gradient(to top, var(--primaryColor), #ffc3ad);
}
