.primary-button {
    font-family: arial;
    color: #FFFFFF ;
    font-size: 14px;
    text-shadow: 1px 1px 1px #CFCCFF;
    box-shadow: 3px 3px 3px #EEE8F9;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0px solid #3866A3;
    background: #5F5D9C;
    background: linear-gradient(to top, #5F5D9C, #9B98FF);
}
.primary-button:hover {
    color: #FFFFFF ;
  background: #9B98FF;
  background: linear-gradient(to top, #9B98FF, #5F5D9C);
}
