.input-comment {
  font-size: 18px;
  padding: 5px 10px;
  width: 100%;
  height: 40px;
  outline: none;
  background: #ffffff;
  color: #000000;
  border: 2px solid var(--primaryColor);
  border-radius: 5px;
  box-shadow: 3px 3px 2px 0px #e2e2e2;
  transition: 0.3s ease;
  margin: 5px;
}
.input-comment:focus {
  background: #f0f0ff;
  border: 2px solid var(--primaryColor);
  border-radius: 5px;
  height: 40px;
}

.input-comment::placeholder {
  color: #e2e2e2;
}
