.description {
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 248, 243);
  overflow-wrap: break-word;
  /* border: 1px solid var(--primaryColor);*/

  box-shadow: var(--shadow);
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
