.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.event-location {
  display: flex;
  margin: 0px 10px 0px 10;
  padding: 0px;
  font-size: 20px;
  height: 70px;
  align-items: center;
  justify-content: right;
}
