
#overlay {
    
    width: 300px; 
    height: 70px;
    position:absolute; 
    bottom: -35px;
    left: 50%;
  transform: translate(-50%, -50%);

    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0, 0, 0, 0) 100%); 
    z-index: 2; 
    cursor: pointer;
  }
.overlay-container{
position: relative;
text-align: center;

}
  img {
    width: 300px;
    height: auto;
    margin: 0;
    padding: 0;
  }
  
  .overlay-container div{
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
  }

