body {
  background-color: cadetblue;
}
main {
  background-color: rosybrown;
  display: block;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
}

.AlbumName {
  margin: auto;
  height: 70px;
  justify-content: left;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.album-grid {
  padding: 20px;
  margin: auto;
  height: auto;
  background-color: chartreuse;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}
.album-grid div {
  width: 380px;
  height: 460px;
}

@media only screen and (max-width: 1912px) {
  .album-grid {
    width: 1580px;
  }
}

@media only screen and (max-width: 1528px) {
  .album-grid {
    width: 1200px;
  }
}


@media only screen and (max-width: 1020px) {
  .album-grid {
    width: 780px;
  }
}
@media only screen and (max-width: 770px) {
  .album-grid {
    width: 380px;
  }
}
/* 4*380+60(3*gap)/
/* https://www.webfx.com/tools/whats-my-browser-size/*/
