body {
  background-color: rgb(170, 175, 233);
  margin: 0 auto;
}
main {
  background-color: rgb(33, 251, 178);
  display: block;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
  margin: auto;
  max-width: 100%;
}




.album-grid {
  padding-top: 20px;
  margin: auto;
  width: 100%;
  height: auto;
  background-color: chartreuse;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  box-sizing: border-box;
}

.album-grid div {
  width: auto;
  height: auto;


}


@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 600px) {

}


@media only screen and (min-width: 768px) {

}


@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {
.AlbumPath{
  font-size: 20px;
}
}

/* 4*380+60(3*gap)/
/* https://www.webfx.com/tools/whats-my-browser-size/*/
