.button-modal {
}
.close-modal-button {
  display: flex;
  justify-content: right;
}

.modal-content {
}
.Modalche {
  width: 100%;

  display: flex;
  padding: 5px;
}
.picture-modal {
  width: 60%;
}
.comments-modal {
  width: 40%;
}
.modal-buttons{
    
}
/* ova e za modalot */
.ReactModal__Content {
  background-color: #aaaaaa;
  width: 80%;
  height: 95%;
  justify-content: right;
}
.ReactModal__Content--after-open {
}
