.icon-button {
  color: var(--primaryColor);
  font-size: 14px;

  padding: 5px 10px;
  border-radius: 20px;
  border: 0px solid #a36538;
  background: white ;
  margin: 0 2px;
  align-items: center;
}
.icon-button:hover {
  color: var(--secondaryColor);
 /* background-color: var(--primaryColor); */
}
