.Logo{
    font-family:"Scripto";
    font-size: 36px;
    margin-left: 20px;
    
}
.NavBar{
display: grid;
grid-template-columns: repeat(12, 80px);
grid-template-rows: auto;

    height: 56px;
    width: max;
    background-color: #E4E4FF;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0;
    box-shadow: 2px 3px 5px 1px rgba(95,93,156,0.51);
    -webkit-box-shadow: 2px 3px 5px 1px rgba(95,93,156,0.51);
    -moz-box-shadow: 2px 3px 5px 1px rgba(95,93,156,0.51);

}
.Buttons{
    display: flex;
    justify-content: right;
}
h1{margin: 0}