.secondary-button {
  color: var(--primaryColor);
  font-size: 14px;

  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid var(--primaryColor);
  background: transparent;
  margin: 0 5px;
  align-items: center;
}
.secondary-button:hover {
  color: var(--secondaryColor);
  background: transparent;
  border: 2px solid var(--secondaryColor);
}
