.searchContainer {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: auto;
}

input {
  height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid var(--primaryColor);
}

input:focus-visible {
  border: 3px solid var(--secondaryCOlor);
}
