.searchContainer {
  border-radius: 5px;
  display: 100px;
  width: auto;
  align-items: center;
  gap: 2px;
  flex-direction: column;
}

.searchAndIcon {
  display: flex;
  align-items: center;

  height: 40px;
}

.input-search:focus {
  background: #f0f0ff;
  border: 3px solid var(--primaryColor);
  border-radius: 5px;
  height: 40px;
}

.input-search {
  font-size: 18px;
  padding: 5px 10px;
  width: 130px;
  height: 40px;
  outline: none;
  background: #ffffff;
  color: #000000;
  border: 2px solid var(--primaryColor);
  border-radius: 5px;
  transition: 0.3s ease;
  margin: 0;
}

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (max-width: 1000px) {
  .containerForCommentSection{
    width: 200%;
  }
}

@media only screen and (min-width: 1200px) {
}
