body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-wrapper {
  width: 100%;
  height: 120px;
  background-color: #ef5f5c;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}
.copy {
  color: white;
  font-size: small;
  align-items: center;
  display: flex;
  gap: 5px;
}
.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.bg-animation {
  background: linear-gradient(
    -90deg,
    #a0313c,
    #e55356,
    #b32c47,
    #85244a,
    #532d5c,
    #633582,
    #532d5c,
    #85244a,
    #b32c47,
    #e55356
  );
  background-size: 400% 400%;
  animation: gradient-animation 10s ease infinite;
 
  
}
/*
 #a0313c70,
    #e5535670,
    #b32c4770,
    #85244a70,
    #532d5c70,
    #63358270,
    #532d5c70,
    #85244a70,
    #b32c4770,
    #e5535670

        #a0313c,
    #e55356,
    #b32c47,
    #85244a,
    #532d5c,
    #633582,
    #532d5c,
    #85244a,
    #b32c47,
    #e55356
    */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon {
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  /* background-color: hsla(209 20% 70% / 20%); */ /* For dark theme */
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}

.icon > i {
  color: #fb5252;
  font-size: 1.5rem;
  transition: all 0.2s;
}

.icon:hover > i {
  scale: 1.2;
  color: #f1f1f1;
}

.icon:before {
  background: var(--color);
  content: "";
  position: absolute;
  width: 130%;
  height: 130%;
  left: -110%;
  top: 80%;
  transform: rotate(45deg);
}

.icon:hover:before {
  animation: slide 0.7s forwards;
}

@keyframes slide {
  50% {
    left: 10%;
    top: -40%;
  }

  100% {
    left: -15%;
    top: -15%;
  }
}

.icon:has(.fa-instagram) {
  --color: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
}
.icon:has(.fa-linkedin-in) {
  --color: #0077b5;
}
.icon:has(.fa-youtube) {
  --color: #ff0000;
}
.icon:has(.fa-x-twitter) {
  --color: #1da1f2;
}
.icon:has(.fa-github) {
  --color: #333;
}
