
main {

  display: block;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
  margin: auto;
  max-width: 100%;
}
.BreadC-position {
  width: auto;
  margin: 0 50px;
}

.album-grid {
  background-color: rgb(201, 255, 249);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 1000px;
  margin: auto;
  padding: 0;
}



@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
 
}

/* 4*380+60(3*gap)/
/* https://www.webfx.com/tools/whats-my-browser-size/*/
