.breadCrumbs-counters {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 5px;
}
.BreadC-position {
  width: 100%;
  margin: 10px 0;
}
.albumButtons {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  gap: 5px;
  align-items: center;
}

.counters {
  width: 30%;
  display: flex;
  height: 40px;
  border-top: 1px solid var(--primaryColor);
  border-bottom: 1px solid var(--primaryColor);
  border-radius: 5px;
  margin: 5px 5px;
}
.counter {
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 10px 10px;
}
.like-counter {
  border-right: 0.5px solid var(--primaryColor);
}
.comment-counter {
  border-left: 0.5px solid var(--primaryColor);
}

.dropdown-more {
  position: relative;
  display: inline-block;
}
.dropdown-content-more {
  width: 180px;
  display: none;
  position: absolute;
  right: 0;
  z-index: 1;
  background-color: var(--bodyColor);
  box-shadow: var(--shadow2);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
}
.dropdown-more:hover .dropdown-content-more {
  display: block;
}
.dropdown-more:hover {
  background-color: var(--bodyColor);
  box-shadow: var(--shadow2);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.all-in-albums {
  background-color: rgba(188, 143, 143, 0);
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px auto;
  justify-content: center;
  align-content: flex-start;
}
.name-and-pictures {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(127, 255, 212, 0);
  margin: 0;
}

.containerForPictures {
  width: 100%;
  max-height: 510px;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px 20px 5px 0px;
  background-color: rgba(250, 235, 215, 0);
}

.PictureModal {
  width: 60%;
}

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
