.all-in-events {
  width: 100%;
 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
  align-content: flex-start;
  flex-grow: 2;
}
@media only screen and (max-width: 1400px){
  .all-in-events{
    min-height: 510px;
  }
}
@media only screen and (min-width: 1400px){
  .all-in-events{
    min-height: 90vh;
  }
}
.name-and-search {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgba(127, 255, 212, 0);
  margin: 0px;

}

.eventHeader {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgba(250, 235, 215, 0);
  align-items: center;
  padding: 5px;
  margin-right: 0px;
  gap: 2px;
}
.eventActions{
  display: flex;
  align-items: center;
  gap: 5px;
}
.albumsAndAside {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px;
}

.containerForAlbums {
  width: 69%;
  max-height: 510px;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px;
  padding: 5px;
  background-color: white;
}

/* desno>>*/
.likes-comments-description {
  background-color: rgba(95, 158, 160, 0);
  width: 30%;
  padding-right: 5px;
}
.event-description {
  width: 100%;
  height: auto;
}

.buttonsEvent{
  box-shadow: var(--shadow);
  border-radius: 5px;
  display: flex;
 /* border: 1px solid var(--primaryColor);*/
}

.containerForCommentSection {
  max-height: 600px;
  font-size: 16px;
  background-color: rgba(250, 235, 215, 0);
  width: 100%;
  margin-top: 5px;
}

@media only screen and (max-width: 1000px) {
 .eventHeader{
  justify-items: center;
 }
 .containerForAlbums{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
}