.all-in-events {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: left;
  align-content: flex-start;
  flex-grow: 2;
}
@media only screen and (max-width: 1400px) {
  .all-in-events {
    min-height: 510px;
  }
}
@media only screen and (min-width: 1400px) {
  .all-in-events {
    min-height: 90vh;
  }
}
.eventPrivate {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300%;
  color: var(--primaryColor);
}
.eventHeader {
  width: 70%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgba(250, 235, 215, 0);
  align-items: center;
  padding: 5px;
  gap: 2px;
}
.eventActions {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
}
.albumsInEvent {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
}
.descriptionAndEvent {
  width: 78%;
}
.mainAndInvite {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.invitePeople {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: max-content;
  max-height: 500px;
  gap: 1px;
  overflow: hidden;
  border: 2px solid var(--primaryColor);
  border-radius: 5px;
}
.labelInvitePeople {
  padding: 10px;
  font-weight: bold;
}
.participantMap {
  padding: 10px;
  border-bottom: 1px solid var(--primaryColor);
}

.event-description {
  display: flex;
  padding: 0px 10px;
  width: 100%;
  height: auto;
  min-height: 70px;
}

.containerForCommentSection {
  max-height: 600px;
  font-size: 16px;
  background-color: rgba(250, 235, 215, 0);
  width: 100%;
  margin-top: 5px;
}

@media only screen and (max-width: 1000px) {
  .eventHeader {
    justify-items: center;
  }
}

/*

.containerForAlbums {
  width: 100%;
  max-height: 510px;
  min-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px;
  padding: 5px;
  background-color: white;
}
   .containerForAlbums{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }*/
