
.eventHeader {
  width: auto;
  height: 60px;
  margin: 5px 50px 0 50px;
  background-color: antiquewhite;
}



.buttons {
  margin-left: 5px;

}
.buttons-and-albums {
  width: 75%;
}

.AlbumAndComment {
  background-color: rgba(255, 201, 181, 0);
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px 50px;
}
.containerForPictures {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.containerForCommentSection {
  max-height: 650px;
  overflow-y: auto;

  font-size: 16px;
  background-color: antiquewhite;
  width: 25%;
}
/* Extra small devices (phones, 600px and down) */ /*
@media only screen and (max-width: 600px) {
  .albumContainer {
    background-color: red;
    grid-template-columns: 1fr;
  }
  .pageContainer,
  .albumContainer {
    width: 550px;
  }
  .albumContainer > div,
  img {
    width: 550px;
  }
}*/

/* Small devices (portrait tablets and large phones, 600px and up) */ /*
@media only screen and (min-width: 600px) {
  .albumContainer {
    background-color: green;
    grid-template-columns: 1fr 1fr;
  }
  .pageContainer,
  .albumContainer {
    width: 580px;
  }
  .albumContainer > div,
  img {
    width: 580px;
  }
}*/

/* Medium devices (landscape tablets, 768px and up) */ /*
@media only screen and (min-width: 768px) {
  .albumContainer {
    background-color: blue;
    grid-template-columns: 1fr 1fr;
  }
  .pageContainer,
  .albumContainer {
    width: 760px;
  }
  .albumContainer > div,
  img {
    width: 760px;
  }
}
*/
/* Large devices (laptops/desktops, 992px and up) */ /*
@media only screen and (min-width: 992px) {
  .albumContainer {
    background-color: orange;
  }
  .pageContainer,
  .albumContainer {
    width: 900px;
  }
  .albumContainer > div,
  img {
    width: 900px;
  }
}
*/
/* Extra large devices (large laptops and desktops, 1200px and up) */ /*
@media only screen and (min-width: 1200px) {
  .albumContainer {
    background-color: pink;
  }
  .pageContainer,
  .albumContainer {
    width: 1100px;
  }
  .albumContainer > div,
  img {
    width: 396px;
  }
}*/
