.breadcrumb-not-active {
  color: #000000;
}

.breadcrumb-active {
  color: #cea1ec;
}

.breadcrumb-arrow {
  margin-left: 10px;
  margin-right: 10px;
}
.breadCrumbsContainer {
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: 50%;
}

.breadcrumb-div {
  display: inline-block;
  margin-right: 10px;
}
