.breadcrumb-not-active {
  color: #000000;
}
/*ne se koristi ova*/
.breadcrumb-active {
  color: #cea1ec;
}

.breadcrumb-arrow {
  margin-left: 10px;
  margin-right: 10px;
}
.breadCrumbsContainer {
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: 50%;
  gap: 5px;
}

.breadcrumb-div {
  display: inline-block;
  cursor: pointer;
}
.breadcrumb-div:hover {
  color: var(--secondaryColor);
}
