.breadcrumb-not-active {
  color: #f20606;
}

.breadcrumb-active {
  color: #07110b;
}

.breadcrumb-arrow {
  margin-left: 10px;
  margin-right: 10px;
}
.container{
 display: flex;
 align-items: center;
 margin-left: 20px;
}

.breadcrumb-div {
 
  display: inline-block;
  margin-right: 10px;
}
