* {
  box-sizing: border-box;
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
  margin: 0 auto;
  background-color: var(--bodyColor);
}

:root{

 --primaryColor: #5F5D9C;
 --secondaryColor: #FF7E4F;
 --bodyColor: #f7f7ff;
 --errrorColor: #bc3939;
 --greenColor: #439643;
 --shadow: 3px 3px 2px 0px #e2e2e2;
}