.close-modal-button {
  display: flex;
  justify-content: right;
  margin-bottom: 5px;
}

/* ova e za modalot */
.ReactModal__Content {
  display: flex;
  flex-direction: column;
}
.ReactModal__Content--after-open {
  width: 60%;
  height: 60%;
  
}

.add-photo-form{
    width: 100%;
    height: 100%;
}
.input-container {
  background-color: aqua;
}

.picture-input {
  width: 30%;
  height: 25px;
  margin: 5px;
  border: 2px, solid, red;
}
.description-input {
  width: 30%;
  height: 25px;
  margin: 5px;
  border: 2px, solid, red;
}
.divider{
    border: none;
}